body {
	margin: 0;
	padding: 0;
	background-color:#f8f8f8;
	font-size: 14px;
	line-height: 1.4em;
	font-family: "Helvetica,arial,sans-serif";
}

.piece {
	width: 100%;
	background-color: transparent;
	position: relative;
	box-sizing: border-box;
}

#content {
	background-color: #f8f8f8;
}
